@inherits LayoutComponentBase
<div class="page">
    <div class="top-row">
        <NavMenu />
    </div>
    <main>
        
        <div class="content">
            @Body
        </div>
    </main>
</div>
